# Catalogue
# Make sure the name matches the Wiki Link and the file name,
e.g
# Name,                    Wiki Link,      Filename
Ring Nebula,    https//.../Ring_Nebula , Ring_Nebula.jpg
# Name,                    Wiki Link,                          
Jupiter,           https://en.wikipedia.org/wiki/Jupiter        
Saturn,            https://en.wikipedia.org/wiki/Saturn        
MizarAlcor,        https://en.wikipedia.org/wiki/Mizar_and_Alcor        
Uranus,            https://en.wikipedia.org/wiki/Uranus        
Messier 13,        https://en.wikipedia.org/wiki/Messier_13        
Double Cluster,    https://en.wikipedia.org/wiki/Double_Cluster        
NGC 7662,          https://en.wikipedia.org/wiki/NGC_7662        
Orion Nebula,      https://en.wikipedia.org/wiki/Orion_Nebula        
Andromeda Galaxy,  https://en.wikipedia.org/wiki/Andromeda_Galaxy        
Alberio,           https://en.wikipedia.org/wiki/Alberio        
Almaak,            https://en.wikipedia.org/wiki/Almaak        
Ring Nebula,       https://en.wikipedia.org/wiki/Ring_Nebula        
Mars,              https://en.wikipedia.org/wiki/Mars        
NGC 2264,          https://en.wikipedia.org/wiki/NGC_2264        
Venus,             https://en.wikipedia.org/wiki/Venus        
Pleiades,          https://en.wikipedia.org/wiki/Pleiades        
Moon,              https://en.wikipedia.org/wiki/Moon        
NGC 3242,          https://en.wikipedia.org/wiki/NGC_3242        
Saturn Nebula,     https://en.wikipedia.org/wiki/Saturn_Nebula 
Messier 3,         https://en.wikipedia.org/wiki/Messier_3
Messier 15,        https://en.wikipedia.org/wiki/Messier_15
Crab Nebula,       https://en.wikipedia.org/wiki/Crab_Nebula
Little Dumbbell Nebula, https://en.wikipedia.org/wiki/Little_Dumbbell_Nebula
Rosette Nebula,    https://en.wikipedia.org/wiki/Rosette_Nebula
Hosehead Nebula,   https://en.wikipedia.org/wiki/Horsehead_Nebula




