# Catalogue
# Name,                    Wiki Link,                                      File Name
Jupiter,           https://en.wikipedia.org/wiki/Jupiter                 ,Jupiter.jpg
Saturn,            https://en.wikipedia.org/wiki/Saturn                  ,Saturn.jpg
MizarAlcor,        https://en.wikipedia.org/wiki/Mizar_and_Alcor         ,Mizar_and_Alcor.jpg
Uranus,            https://en.wikipedia.org/wiki/Uranus                  ,Uranus.jpg
Messier 13,        https://en.wikipedia.org/wiki/Messier_13              ,Messier_13.jpg
Double Cluster,    https://en.wikipedia.org/wiki/Double_Cluster          ,Double_Cluster.jpg
NGC 7662,          https://en.wikipedia.org/wiki/NGC_7662                ,NGC_7662.jpg
Orion Nebula,      https://en.wikipedia.org/wiki/Orion_Nebula            ,Orion_Nebula.jpg
Andromeda Galaxy,  https://en.wikipedia.org/wiki/Andromeda_Galaxy        ,Andromeda_Galaxy.jpg
Alberio,           https://en.wikipedia.org/wiki/Alberio                 ,Alberio.jpg
Almaak,            https://en.wikipedia.org/wiki/Almaak                  ,Almaak.jpg
Ring Nebula,       https://en.wikipedia.org/wiki/Ring_Nebula             ,Ring_Nebula.jpg
Mars,              https://en.wikipedia.org/wiki/Mars                    ,Mars.jpg
NGC 2264,          https://en.wikipedia.org/wiki/NGC_2264                ,NGC_2264.jpg
Venus,             https://en.wikipedia.org/wiki/Venus                   ,Venus.jpg
Pleiades,          https://en.wikipedia.org/wiki/Pleiades                ,Pleiades.jpg
Moon,              https://en.wikipedia.org/wiki/Moon                    ,Moon.jpg
NGC 3242,          https://en.wikipedia.org/wiki/NGC_3242                ,NGC_3242.jpg
Saturn Nebula,     https://en.wikipedia.org/wiki/Saturn_Nebula           ,Saturn_Nebula.jpg
