+:Telescopes
16in Meade           :No Name
11in Celestron       :No Name
8in Dobsonian SQ xt8 :Dobby
8in Celestron        :Payne
8in Celestron        :Faber
8in Celestron        :Cannon(Broken Alt Gear 1/24/2018)
8in Celestron        :Messier
8in Celestron        :Eddignton
8in Celestron        :Fischer
8in Celestron        :Zwicky
8in Celestron        :Herschel
8in Celestron        :Walker
8in Celestron        :Levitt
6in Black Scope      :Hermes
6in Black Scope      :Fry
6in Black Scope      :Nibbler
6in Black Scope      :1 Broken
6in Black Scope      :2 Broken
6in Black Scope      :3 Broken
6in Black Scope      :4 Broken

+:Filters
H alpha lens filter     :x2
Solar Filter/Oculter    :x2
Red 25 filter           :x2
U.H.C. Filter           :x1
Variable Polarizer      :x1
48mm Polarizer          :x1
#96-0.9                 :x1
moon                    :x2
deep yellow 15          :x1
blue 80A                :x1
48mm HMC                :x1
49mm Polarizing         :x1
Kits yellow 12          :x3
Kits Red 21             :x3
Kits Red 25             :x3
Kits green 56           :x3
Kits green 58A          :x3
Kits Blue 80A           :x3
Kits moon               :x3

+:Lenses
12.5mm Microguide   :x1
32mm                :x1
25mm Wide Angle     :x1
17mm                :x1
18mm                :x3
12.5mm              :x9
25mm SMA WA         :x5
25mm                :x11
12mm                :x1
55mm                :x1
6.3mm               :x1
26mm                :x1
40mm                :x1
40-80x              :x1
Kit 2 6mm           :x1
Kit 2 8mm           :x1
Kit 2 10mm          :x1
Kit 2 12.5mm        :x1
Kit 2 13mm          :x1
Kit 2 Barlow 2x     :x1
Kit 3 4mm           :x1
Kit 3 6mm           :x1
Kit 3 9mm           :x1
Kit 3 15mm          :x1
Kit 3 32mm          :x1
Kit 3 Barlow 2x     :x1
Kit 4 4mm           :x1
Kit 4 6mm           :x1
Kit 4 9mm           :x1
Kit 4 15mm          :x1
Kit 4 32mm          :x1
Kit 4 Barlow 2x     :x1

+:Misc
200 solar glasses               :NSN
Solar System Rope Demo          :NSN
Metorite/Meteorwrong Demo       :NSN
Eclipse Moon/Earth Demo         :NSN
Distance Ladder CDs             :NSN
ASteroid Detection IR/Optical   :NSN
PlutoGlobe                      :NSN
Classroom tookit                :NSN
Battery Pack                    :x3
Crank Generator                 :x2
Rspec Explorer                  :x1
Images of Numerous Objects      :x1
Nikon Cool pix l330 Camera      :x1
Inflateable Dolar System        :x1
Collander Eclipse               :x1
Spectrograph                    :Leighly
NexImager CCD                   :LS
E-Cooler CCD                    :LS


