+:Spring 2017 Hosts
Jan 24:Renae Wall,Joseph Choi,Sarah Alexander
Jan 31:Renae Wall,London Willson,Sarah Alexander
Feb 07:Renae Wall,Francis MacInnis,Sarah Alexander
Feb 14:Renae Wall,Maria Schutte,Sarah Alexander
Feb 21:Renae Wall,Kirsten Baxter,James Derkacy
Feb 28:Renae Wall,Hora Mishra,Saloni Bhatiani
Mar 07:Renae Wall,Kyra Dame
Mar 14:Renae Wall,Maria Schutte,Hora Mishra
Mar 21:Spring Break
Mar 28:Renae Wall,Nick Reynolds
Apr 04:Renae Wall,Nick Reynolds,Paul Canton
Apr 11:Renae Wall,Alekzander Kosakowski,Nick Reynolds
Apr 18:Renae Wall,Paul Canton,Saloni Bhatiani
Apr 25:Renae Wall,Nick Reynolds,Alekzander Kosakowski

+:Fall 2017 Hosts
Aug 30: Evan Rich,Renae Wall,Kyra Dame,Will Kirkpatrick
Sep 06: Nick Reynolds,Will Kirkpatrick,Saloni Bhatiani
Sep 13: Hora Mischra,Will Kirkpatrick,Claire Riggs,Nick Reynolds,Evan Rich
Sep 20: Kellen Lawson,Will Kirkpatrick,Theo Acker
Sep 27: Nick Reynolds,Hora Mishra,Will Kirkpatrick
Oct 04: Renae,Saloni Bhatiani,Lisa Simpson,Nick Reynolds
Oct 11: Kellen,Joseph,Will Kirkpatrick,Nick Reynolds
Oct 18: Saloni,Rajeeb Sharma,Sougat,Will Kirkpatrick
Oct 25: Evan Rich,Kyra Dame,Nick Reynolds
Nov 01: Ryan Hood,James Derkacy,Nick Reynolds
Nov 08: Evan Rich,Allie Jones,Kyra Dame,Nick Reynolds
Nov 15: Saloni Bhatiani,Nick Reynolds,Kyra Dame,Evan Rich
Nov 29: Kyra Dame,Nick Reynolds,Evan Rich

+:Spring 2017 Hosts
Jan 18:Timothy Miller,Renae Wall,James DerKacy
Jan 25:Timothy Miller,Francis MacInnis,Alek Kosakowski
Feb 01:Timothy Miller,Nick Reynolds,Paul Canton
Feb 08:Timothy Miller,Hora Mishra,Kellen Lawson
Feb 15:Timothy Miller,Jenna Nugent
Feb 22:Timothy Miller,Nick Reynolds,Kyra Dame
Mar 01:Timothy Miller,Nick Reynolds,Will Kirkpatrick
Mar 08:Timothy Miller,Evan Rich,Will Kirkpatrick
Mar 15:Spring Break
Mar 22:Timothy Miller,James DerKacy,Will Kirkpatrick
Mar 29:Timothy Miller,Alek Kosakowski,Paul Canton
Apr 05:Timothy Miller,Brennan Kirkstra,Will Kirkpatrick
Apr 12:Timothy Miller,Matt Clement,Mi Dai
Apr 19:Timothy Miller,Malia Jenks,Will Kirkpatrick
Apr 26:Timothy Miller,Brennan Kirkstra,Will Kirkpatrick
May 03:Timothy Miller,Lisa Simpson,Will Kirkpatrick

+:Fall 2016 Hosts
Aug 24:Timothy Miller,Jenna Nugent
Aug 31:Timothy Miller,Jenna Nugent
Sep 07:Timothy Miller,Rhiannon Griffin
Sep 14:Timothy Miller,Alekzander Kosakowski
Sep 21:Timothy Miller,Paul Canton,Saloni Bhatiani
Sep 28:Timothy Miller,Renae Wall,Will Kirkpatrick
Oct 5:Timothy Miller,Francis MacInnis,Saloni Bhatiani
Oct 12:Timothy Miller,Alekzander Kosakowski,Nick Reynolds
Oct 19:Timothy Miller,Hora Mishra,Nick Reynolds
Oct 26:Timothy Miller,Kyra Dame,Will Kirkpatrick
Nov 02:Timothy Miller,Shaun Steele,Saloni Bhatiani
Nov 09:Timothy Miller,Matt Clement,Brennan Kirkstra
Nov 16:Timothy Miller,Evan Rich,Saloni Bhatiani
Nov 23:Thanksgiving Break
Nov 30:Timothy Miller,Mi Dai,Will Kirkpatrick
Dec 07:Timothy Miller,Evan Rich,Will Kirkpatrick

+:Spring 2016 Hosts
Jan 20:Paul Canton
Jan 27:Paul Canton,Shaun Steele
Feb 3:Paul Canton,Malia Jenks,Saloni Bhatiani
Feb 10:Paul Canton,Rhiannon Griffin
Feb 17:Paul Canton,Jenna Nugent,Timothy Miller
Feb 24:Paul Canton,Matt Clement
Mar 02:Paul Canton,Rhiannon Griffin
Mar 09:Paul Canton,Mi Dai
Mar 16:**Spring Break**
Mar 23:Paul Canton,Shaun Steele
Mar 30:Paul Canton,Kyra Dame
Apr 06:Paul Canton,Evan Rich
Apr 13:Paul Canton,Jenna Nugent,Timothy Miller
Apr 20:Paul Canton,Kyra Dame
Apr 27:Paul Canton,Malia Jenks
May 04:Paul Canton

+:Fall 2015 Hosts
Sep 02:Shaun Steele,Timothy Miller
Sep 09:Mi Dai,Timothy Miller
Sep 16:Evan Rich,Timothy Miller
Sep 23:Jenna Nugent,Timothy Miller
Sep 30:Matt Clement,Timothy Miller
Oct 07:Steven Silverberg,Timothy Miller
Oct 14:Paul Canton,Timothy Miller
Oct 21:Timothy Miller
Oct 28:Rhiannon Griffin,Timothy Miller
Nov 04:Francis MacInnis,Timothy Miller
Nov 11:Evan Rich,Timothy Miller
Nov 18:Timothy Miller
Nov 25:**Thanksgiving Break**
Dec 02:Timothy Miller

+:Spring 2014 Hosts
Jan 22:Claudia Belardi,Beth Stetzler,Sara Barber
Jan 29:Claudia Belardi,Beth Stetzler,Jeremy Lusk
Feb 05:Mike Malatesta,Tim Miller
Feb 12:Claudia Belardi,Beth Stetzler,Evan Rich
Feb 19:Claudia Belardi,Beth Stetzler,Steven Silverberg
Feb 26:Claudia Belardi,Beth Stetzler,Brian Friesen
Mar 05:Claudia Belardi,Beth Stetzler,Rhiannon Griffin
Mar 12:Claudia Belardi,Beth Stetzler,Jenna Nugent
Mar 19:**SPRING BREAK**
Mar 26:Claudia Belardi,Beth Stetzler
Apr 02:Claudia Belardi,Beth Stetzler
Apr 09:Claudia Belardi,Beth Stetzler,Paul Canton
Apr 16:Claudia Belardi,Beth Stetzler
Apr 23:Claudia Belardi,Beth Stetzler
Apr 30:Claudia Belardi,Beth Stetzler

+:Fall 2014 Hosts
Aug 27:Beth Stetzler,Brian Friesen,Evan Rich
Sep 03:Beth Stetzler,Brian Friesen,Tim Miller
Sep 10:Beth Stetzler,Steven Silverberg,Shaun Steele
Sep 17:Beth Stetzler,Paul Canton,Shaun Steele
Sep 24:Beth Stetzler,Xiaoxian Duan,Erin Cooper,Mike Malatesta
Oct 01:Beth Stetzler,Evan Rich,Rhiannon Griffin
Oct 08:Beth Stetzler,Steven Silverberg,Xiaoxian Duan
Oct 15:Beth Stetzler,Jamie Lomax,Paul Canton
Oct 22:Beth Stetzler,Paul Canton,Claudia Belardi
Oct 29:Beth Stetzler,Steven Silverberg,Xiaoxian Duan
Nov 05:Beth Stetzler,Jamie Lomax,Kyra Dame
Nov 12:Beth Stetzler,Rhiannon Griffin,Erin Cooper
Nov 19:Beth Stetzler,Tim Miller,Jenna Miller
Nov 26:** THANKSGIVING **
Dec 03:Beth Stetzler,Steven Silverberg

+:Spring 2013 Hosts
Jan 23: Dr. Mukremin Kilic,Jeremy Lusk,Brian Friesen
Jan 30: Dr. Xinyu Dai,Rhiannon Griffin,Jenna Nugent
Feb 06: Dr. Karen Leighly,Rhiannon Griffin,Brian Friesen
Feb 13: Dr. Xinyu Dai,Jeremy Lusk,Sara Barber
Feb 20: Dr. Mukremin Kilic,Brian Friesen,Sara Barber
Feb 27: Dr. Mukremin Kilic,Jenna Nugent,Sara Barber
Mar 06: Dr. Karen Leighly,Rhiannon Griffin,Aaron Morris
Mar 13: Dr. Richard Henry,Tim Miller,Sara Barber
Mar 27: Dr. Karen Leighly,Jeremy Lusk,Brian Friesen
Apr 03: Dr. Richard Henry,Paul Canton,Malia Jenks
Apr 10: Dr. John Wisniewski,Paul Canton,Rhiannon Griffin
Apr 17: Dr. Karen Leighly,Erin Cooper,Jeremy Lusk
Apr 24: Dr. John Wisniewski,Erin Cooper,Malia Jenks
May 01: Dr. Mukremin Kilic,Tim Miller,Erin Cooper 

+:Fall 2013 Hosts
Sep 04:Jeremy Lusk,Brian Friesen
Sep 11:Dr. Xinyu Dai,Tim Miller,Sara Barber
Sep 18:Dr. Xinyu Dai,Tim Miller,Paul Canton
Sep 25:Dr. Mukremin Kilic,Malia Jenks,Sara Barber
Oct 02:Paul Canton,Rhiannon Griffin
Oct 09: Dr. Jaimie Lomax,Erin Cooper,Paul Canton
Oct 16: Dr. Karen Leighly,Jeremy Lusk,Tim Miller
Oct 23: Dr. Karen Leighly,Dr. John Wisniewski,Malia Jenks,Brian Friesen
Oct 30: Rhiannon Griffin,Erin Cooper
Nov 06: Mi Dai,Jenna Nugent,Sara Barber
Nov 13: Dr. John Wisniewski,Brian Friesen,Mike Malatesta
Nov 20: Malia Jenks,Rhiannon Griffin
Dec 04: Dr. Karen Leighly,Jeremy Lusk,Erin Cooper
