+Fall 2015 Hosts

September 02:Shaun Steele,Timothy Miller

September 09:Mi Dai,Timothy Miller

September 16:Evan Rich,Timothy Miller

September 23:Jenna Nugent,Timothy Miller

September 30:Matt Clement,Timothy Miller

October 07:Steven Silverberg,Timothy Miller

October 14:Paul Canton,Timothy Miller

October 21:Timothy Miller

October 28:Rhiannon Griffin,Timothy Miller

November 04:Francis MacInnis,Timothy Miller

November 11:Evan Rich,Timothy Miller

November 18:Timothy Miller

November 25:**Thanksgiving Break**

December 02:Timothy Miller

+Spring 2016 Hosts

January 20:Paul Canton

January 27:Paul Canton,Shaun Steele

February 3:Paul Canton,Malia Jenks,Saloni Bhatiani

February 10:Paul Canton,Rhiannon Griffin

February 17:Paul Canton,Jenna Nugent,Timothy Miller

February 24:Paul Canton,Matt Clement

March 02:Paul Canton,Rhiannon Griffin

March 09:Paul Canton,Mi Dai

March 16:**Spring Break**

March 23:Paul Canton,Shaun Steele

March 30:Paul Canton,Kyra Dame

April 06:Paul Canton,Evan Rich

April 13:Paul Canton,Jenna Nugent,Timothy Miller

April 20:Paul Canton,Kyra Dame

April 27:Paul Canton,Malia Jenks

May 04:Paul Canton

+Fall 2016 Hosts

August 24:Timothy Miller,Jenna Nugent

August 31:Timothy Miller,Jenna Nugent

September 07:Timothy Miller,Rhiannon Griffin

September 14:Timothy Miller,Alekzander Kosakowski

September 21:Timothy Miller,Paul Canton,Saloni Bhatiani

September 28:Timothy Miller,Renae Wall,Will Kirkpatrick

October 5:Timothy Miller,Francis MacInnis,Saloni Bhatiani

October 12:Timothy Miller,Alekzander Kosakowski,Nick Reynolds

October 19:Timothy Miller,Hora Mishra,Nick Reynolds

October 26:Timothy Miller,Kyra Dame,Will Kirkpatrick

November 02:Timothy Miller,Shaun Steele,Saloni Bhatiani

November 09:Timothy Miller,Matt Clement,Brennan Kirkstra

November 16:Timothy Miller,Evan Rich,Saloni Bhatiani

November 23:Thanksgiving Break

November 30:Timothy Miller,Mi Dai,Will Kirkpatrick

December 07:Timothy Miller,Evan Rich,Will Kirkpatrick

+Spring 2017 Hosts

January 18:Timothy Miller,Renae Wall,James DerKacy

January 25:Timothy Miller,Francis MacInnis,Alek Kosakowski

February 01:Timothy Miller,Nick Reynolds,Paul Canton

February 08:Timothy Miller,Hora Mishra,Kellen Lawson

February 15:Timothy Miller,Jenna Nugent

February 22:Timothy Miller,Nick Reynolds,Kyra Dame

March 01:Timothy Miller,Nick Reynolds,Will Kirkpatrick

March 08:Timothy Miller,Evan Rich,Will Kirkpatrick

March 15:Spring Break

March 22:Timothy Miller,James DerKacy,Will Kirkpatrick

March 29:Timothy Miller,Alek Kosakowski,Paul Canton

April 05:Timothy Miller,Brennan Kirkstra,Will Kirkpatrick

April 12:Timothy Miller,Matt Clement,Mi Dai

April 19:Timothy Miller,Malia Jenks,Will Kirkpatrick

April 26:Timothy Miller,Brennan Kirkstra,Will Kirkpatrick

May 03:Timothy Miller,Lisa Simpson,Will Kirkpatrick

+Spring 2014 Hosts

January 22:Claudia Belardi,Beth Stetzler,Sara Barber

January 29:Claudia Belardi,Beth Stetzler,Jeremy Lusk

February 05:Mike Malatesta,Tim Miller

February 12:Claudia Belardi,Beth Stetzler,Evan Rich

February 19:Claudia Belardi,Beth Stetzler,Steven Silverberg

February 26:Claudia Belardi,Beth Stetzler,Brian Friesen

March 05:Claudia Belardi,Beth Stetzler,Rhiannon Griffin

March 12:Claudia Belardi,Beth Stetzler,Jenna Nugent

March 19:**SPRING BREAK**

March 26:Claudia Belardi,Beth Stetzler


April 02:Claudia Belardi,Beth Stetzler

April 09:Claudia Belardi,Beth Stetzler,Paul Canton

April 16:Claudia Belardi,Beth Stetzler

April 23:Claudia Belardi,Beth Stetzler

April 30:Claudia Belardi,Beth Stetzler

+Fall 2014 Hosts

August 27:Beth Stetzler,Brian Friesen,Evan Rich

September 03:Beth Stetzler,Brian Friesen,Tim Miller

September 10:Beth Stetzler,Steven Silverberg,Shaun Steele

September 17:Beth Stetzler,Paul Canton,Shaun Steele

September 24:Beth Stetzler,Xiaoxian Duan,Erin Cooper,Mike Malatesta

October 01:Beth Stetzler,Evan Rich,Rhiannon Griffin

October 08:Beth Stetzler,Steven Silverberg,Xiaoxian Duan

October 15:Beth Stetzler,Jamie Lomax,Paul Canton

October 22:Beth Stetzler,Paul Canton,Claudia Belardi

October 29:Beth Stetzler,Steven Silverberg,Xiaoxian Duan


November 05:Beth Stetzler,Jamie Lomax,Kyra Dame

November 12:Beth Stetzler,Rhiannon Griffin,Erin Cooper

November 19:Beth Stetzler,Tim Miller,Jenna Miller

November 26:** THANKSGIVING **

December 03:Beth Stetzler,Steven Silverberg

+Spring 2013 Hosts
January 23: Dr. Mukremin Kilic,Jeremy Lusk,Brian Friesen

January 30: Dr. Xinyu Dai,Rhiannon Griffin,Jenna Nugent

February 06: Dr. Karen Leighly,Rhiannon Griffin,Brian Friesen

February 13: Dr. Xinyu Dai,Jeremy Lusk,Sara Barber
 
February 20: Dr. Mukremin Kilic,Brian Friesen,Sara Barber

February 27: Dr. Mukremin Kilic,Jenna Nugent,Sara Barber

March 06: Dr. Karen Leighly,Rhiannon Griffin,Aaron Morris

March 13: Dr. Richard Henry,Tim Miller,Sara Barber

March 27: Dr. Karen Leighly,Jeremy Lusk,Brian Friesen

April 03: Dr. Richard Henry,Paul Canton,Malia Jenks

April 10: Dr. John Wisniewski,Paul Canton,Rhiannon Griffin

April 17: Dr. Karen Leighly,Erin Cooper,Jeremy Lusk

April 24: Dr. John Wisniewski,Erin Cooper,Malia Jenks

May 01: Dr. Mukremin Kilic,Tim Miller,Erin Cooper 

+Fall 2013 Hosts
September 04:Jeremy Lusk,Brian Friesen

September 11:Dr. Xinyu Dai,Tim Miller,Sara Barber

September 18:Dr. Xinyu Dai,Tim Miller,Paul Canton

September 25:Dr. Mukremin Kilic,Malia Jenks,Sara Barber

October 02:Paul Canton,Rhiannon Griffin

October 09: Dr. Jaimie Lomax,Erin Cooper,Paul Canton

October 16: Dr. Karen Leighly,Jeremy Lusk,Tim Miller

October 23: Dr. Karen Leighly,Dr. John Wisniewski,Malia Jenks,Brian Friesen

October 30: Rhiannon Griffin,Erin Cooper

November 06: Mi Dai,Jenna Nugent,Sara Barber

November 13: Dr. John Wisniewski,Brian Friesen,Mike Malatesta

November 20: Malia Jenks,Rhiannon Griffin

December 04: Dr. Karen Leighly,Jeremy Lusk,Erin Cooper
